body{
	width:100%;
	height:100%;
}
#wraper{
	width:100%;
	height:620px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:0 15px;
}
#content{
	width:74%;
	height:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:1px solid black;
	border-radius:5px;
	padding-left:7px;
}
#sidebar{
	width:25%;
	height:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:1px solid black;
	border-radius:5px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
.header{
	border-top:1px solid black;
	border-bottom:1px solid black;
	text-align:center;
	padding:10px 0;
	font-size:20px;
	text-decoration:bold;
	margin:0 0 10px 0;
}
.title{
	font-size:20px;
	font-weight:bold;
	margin-left:20px;
	line-height:40px;
}
.pagination{
	margin-right:20px;
	line-height:40px;
}
.menu{
	width:19%;
	height:170px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:1px solid black;
	margin: 4px;
	float: left;
}
a{
	text-decoration:none;
	padding:5px 10px;
	background:gray;
	font-weight:bold;
	color:white;
	margin-right:5px;
}
.footer{
	margin:10px 5px 0 5px;
	text-align:center;
}
.submit{
	padding:5px 20px;
	background:gray;
	font-weight:bold;
	color:white;
	margin:5px;
}
th{
	background:#bbb;
}
